APP_NAME="Certificados"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8001
GI_URL=http://localhost:8004
GI_CLIENT_ID=
GI_CLIENT_SECRET=
GI_FRAME_ANCESTORS=http://localhost:8004
GI_ALLOW_OUTSIDE_IFRAME=false
SESSION_DRIVER=file
